<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vic.mybatis.OTAMethod">
    <select id="otaSelect" parameterType="int" resultMap="selectMap">
     select t1.id,t1.gprs_id,t1.target,t1.bin_file_path,t1.firmware,t1.version,t1.slave_indexes FROM ota_send t1 JOIN rcv_gprs_list t2 on t1.gprs_id=t2.gprs_id WHERE t2.link_status=1 AND send_done=0 LIMIT #{number};
    </select>
    <resultMap id="selectMap" type="com.vic.mybatis.OTAMsg">
      <id property="id" column="id"></id>
      <result property="gprs_id" column="gprs_id"></result>
      <result property="target" column="target"></result>
      <result property="bin_file_path" column="bin_file_path"></result>
      <result property="firmware" column="firmware"></result>
      <result property="version" column="version"></result>
      <result property="slave_indexes" column="slave_indexes"></result>
    </resultMap>
    
    <update id="transferStatus" parameterType="com.vic.mybatis.SqlMsg" >
      UPDATE ota_send SET result_info=#{result_info} , send_done=#{state} where id=#{id};
    </update>
    <!-- UPDATE ota_send SET send_done=7, result_info='升级过程重启程序' where send_done=1; -->
    <update id="initializeStatus" parameterType="int">
       UPDATE rcv_gprs_list SET link_status=0 where port=#{port};
    </update>
     <update id="initializeOTAStatus" >
       UPDATE ota_send SET send_done=7, result_info='升级过程重启程序' WHERE send_done=1;
    </update>
    <update id="onlineUpdate" parameterType="com.vic.gprs.OnOffMsg" >
      INSERT INTO rcv_gprs_list (gprs_id,link_status,port) value(#{gprs_id},#{link_status},#{port}) ON DUPLICATE KEY UPDATE link_status=#{link_status} , update_time=default , port=#{port};
    </update>
    
    <select id="addressMsgGet" resultMap="selectAddressMap" >
       select t1.id, t1.gprs_id, t1.type_1,t1.adress_1,t1.type_2,t1.adress_2,t1.type_3,t1.adress_3,t1.type_4,t1.adress_4 from modify_connectaddress_send t1 JOIN rcv_gprs_list t2 on t1.gprs_id=t2.gprs_id where t2.link_status=1 AND send_done=0 group by gprs_id;
    </select>
    <resultMap id="selectAddressMap" type="com.vic.gprs.AddressMsg">
      <id property="id" column="id"></id>
        <result property="gprs_id" column="gprs_id"></result>
      <result property="type1" column="type_1"></result>
      <result property="type2" column="type_2"></result>
      <result property="type3" column="type_3"></result>
      <result property="type4" column="type_4"></result>
      <result property="address1" column="adress_1"></result>
      <result property="address2" column="adress_2"></result>
      <result property="address3" column="adress_3"></result>
      <result property="address4" column="adress_4"></result>
    </resultMap>
    
    <update id="addressChangeAns" parameterType="com.vic.gprs.AddressMsg" >
    UPDATE modify_connectaddress_send SET send_done = #{send_done} where gprs_id=#{gprs_id} limit 1;
    </update>
    
</mapper>